.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 40px;
  grid-area: search;
}

.search__heading {
  color: var(--title);
}

.search__heading.text-highlighted-bold {
  font-size: 40px;
}

.search__description {
  font-size: 16px;
  width: 37%;
  text-align: center;
}

.search__box {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  min-width: 50%;
}

.search__input-box {
  position: relative;
  height: 100%;
  flex: 2 1;
  display: flex;
}

.search__input-icon {
  display: inline-block;
  position: absolute;
  padding-left: 20px;
  top: 60%;
  transform: translateY(-50%);
}

.search__input {
  border: none;
  border-radius: 6px;
  padding-left: 50px;
  height: 100%;
  min-width: 100%;
  font-size: 15px;
  background-color: var(--white);
}

.search__input:focus {
  outline: 3px solid var(--green);
}

.search__button {
  font-size: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 18px 24px;
  color: var(--white);
  font-weight: 400;
  background-color: var(--green);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity .3s ease;
}

.search__button:hover {
  opacity: 0.9;
}

.search__mode-select-box {
  height: 100%;
  border: none;
  font-family: "Source Sans 3", sans-serif;
  background-color: var(--favorite);
  color: var(--text);
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 1px 2px 6px var(--shadow);
  border-radius: 8px;
  width: 80px;
  padding-block: 10px;
  cursor: pointer;
  outline: none;
}

@media(max-width: 1024px) {
  .search__box {
    min-width: 70%;
  }
}

@media(max-width: 768px) {
  .search__heading.search__heading.text-highlighted-bold {
    font-size: 35px;
  }

  .search__description {
    width: 60%;
  }

  .search__box {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 40px;
    align-items: flex-end;
    gap: 12px;
  }

  .search__input {
    height: 40px;
  }

  .search__input-box {
    width: 100%;
  }

  .search__mode-select-box {
    padding-block: 0;
  }

  .search__button {
    font-size: 16px;
    justify-content: center;
    grid-column:  1 / 3;
  }

}

@media(max-width: 640px) {
  .search-section {
    align-items: flex-start;
  }

  .search__box {
    width: 100%;
  }

  .search__description {
    text-align: start;
    width: 90%;
  }
}

@media(max-width: 400px) {
  .search__box {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto 40px 40px;
  }

  .search__button {
    grid-column: 1;
  }

  .search__mode-select-box {
    width: 100%;
  }
}

