.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 40px;
  grid-area: search;
}

.search__heading.text-highlighted-bold {
  font-size: 40px;
}

.search__description {
  font-size: 16px;
  width: 37%;
  text-align: center;
}

.search__box {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 40px;
  min-width: 50%;
}

.search__input-box {
  position: relative;
  height: 100%;
  flex: 2 1;
}

.search__input-icon {
  display: inline-block;
  position: absolute;
  padding-left: 20px;
  top: 60%;
  transform: translateY(-50%);
}

.search__input {
  border: none;
  border-radius: 6px;
  padding-left: 50px;
  height: 100%;
  min-width: 100%;
}

.search__button {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 18px 24px;
  color: var(--white);
  font-weight: 400;
  background-color: var(--green);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .search__heading.search__heading.text-highlighted-bold {
    font-size: 35px;
  }

  .search__description {
    width: 60%;
  }

  .search__box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    width: 100%;
  }

  .search__input {
    height: 40px;
  }

  .search__input-box {
    width: 100%;
  }

  .search__button {
    font-size: 16px;
  }

}

@media(max-width: 640px) {
  .search-section {
    align-items: flex-start;
  }

  .search__description {
    text-align: start;
  }
}

@media(max-width: 480px) {
  .search__description {
    width: 90%;
  }
  
}