@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Source+Sans+3:wght@300;400;500;600&display=swap');
@import './variables.css';
@import './global.css';
@import './search.css';
@import './cards.css';
@import './sidebar.css';
@import './favCards.css';

.app {
  min-height: 100vh;
  background-color: var(--background);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container,
.header__container {
  margin-inline: auto;
  width: 90%;
  max-width: 1280px;
}

/*header styles*/

.header {
  height: 60px;
  border-bottom: 1px solid var(--border);
}

.header__container {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  padding-block: 6px;
}
 
.header__logo-box {
  display: inline-block;
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--green);
}

.header__logo-box svg {
  flex: 1;
}

.header__logo-text-box {
  display: flex;
  flex-direction: column;
}

.header__logo-text.text-highlighted-bold {
  font-size: 18px;
}

.header__logo-text--sub {
  font-size: 14px;
}

/*styles for the main section*/

.main {
  display: grid;
  grid-template-columns: 1fr minmax(220px, 250px);
  grid-template-rows: max-content auto;
  row-gap: 50px;
  column-gap: 10px;
  grid-template-areas: 
    "search search"
    "books favourites";
  padding-bottom: 40px;
}

/* 
  books section styles for its state and the possible content
  depending on the API response and empty query search
*/

.books-section {
  grid-area: books;
}

.books__list {
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 8px;
}

.books__search--empty-container {
  display: flex;
}

.books__loading-container,
.books__search--empty-container,
.books__search--empty-query-container,
.books-api__fail-container {
  min-height: 250px;
  background-color: var(--secondary);
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  box-shadow: 1px 2px 6px var(--shadow);
}

.books__loading-container,
.books__search--empty-query-container,
.books-api__fail-container  {
  display: none;
}

.books__loading-text,
.books__search--empty-text,
.books__search--empty-query-text,
.books-api__fail-text {
  font-style: italic;
}

.books__loading-text {
  font-size: 24px;
  font-weight: 400;
}

.books__search--empty-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.books__search--empty-box svg {
  width: 40px;
  height: 40px;
}

.books__search--empty-box svg path {
  stroke: var(--green);
}

.books__search--empty-text {
  font-size: 20px;
}

.books__search--empty-query-text,
.books-api__fail-text {
  color: rgb(211, 38, 38);
  font-weight: 600;
  font-size: 18px;
}


/*footer styles*/

.footer {
  padding-block: 25px;
  border-top: 1px solid var(--border)
}

.footer__link,
.footer__link:visited {
  color: var(--green);
}

.footer__box {
  text-align: center;
}


@media(max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(200px, 1fr) auto;
    grid-template-areas: 
      "search"
      "books"
      "favourites"
    ;
    row-gap: 80px;
    column-gap: 0;
  }

  .books__loading-container,
  .books__search--empty-container,
  .books__search--empty-query-container,
  .books-api__fail-container {
    padding: 16px;
  }

}

@media(max-width: 480px) {
  .container,
  .header__container {
    width: 92%;
  }

  .books__list {
    justify-content: center;
  }
  
}

@media(max-width: 400px) {
  .main {
    row-gap: 40px;
  }

  .books-section {
    justify-self: center;
  }

  .books__list {
    row-gap: 16px;
  }
}